<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015343581305-44flq6030vm37e97ukf9b4nurch2dlbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015343581305-44flq6030vm37e97ukf9b4nurch2dlbm</string>
	<key>API_KEY</key>
	<string>AIzaSyBEAl14HoopbpInOX5umQvv6q2hFySzk0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1015343581305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appqstocker</string>
	<key>PROJECT_ID</key>
	<string>qstocker-9b450</string>
	<key>STORAGE_BUCKET</key>
	<string>qstocker-9b450.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015343581305:ios:7b3ffd17599320875faca8</string>
	<key>DATABASE_URL</key>
	<string>https://qstocker-9b450-default-rtdb.firebaseio.com</string>
</dict>
</plist>